$Userinput_title: #b0b6c7;
$Input_focus_leftBorder_color: #55a8fd;
$Input_error_color: #f7554d;
.login {
  position: absolute;
  width: 100%;
  height: 100%;
  &_particle {
    background: url('../../assets/bg-world-blue.jpg');
    width: 100%;
    height: 100%;
  }
  &_box {
    background: rgba(82, 197, 255, 0.04);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 381px;
    height: 443px;
    // box-shadow: 0px 0px 16px 5px rgba(82, 197, 255, 0.2),
    //   0px 0px 5px 2px rgba(82, 197, 255, 0.3) inset;
    border: 1px solid rgba(82, 197, 255, 0.2);
    border-radius: 72px 8px 72px 8px;
    &_top_left,
    &_top_right,
    &_bottom_left,
    &_bottom_right {
      position: absolute;
    }
    &_top_right,
    &_bottom_left {
      width: 50px;
      height: 50px;
      border: 3px solid #52c5ff;
    }
    &_top_right {
      right: -3px;
      top: -3px;
      border-left: 0;
      border-bottom: 0;
      border-radius: 0 8px 0 0;
    }
    &_bottom_left {
      left: -3px;
      bottom: -3px;
      border-right: 0;
      border-top: 0;
      border-radius: 0 0 0 8px;
    }
    &_top_left,
    &_bottom_right {
      width: 40px;
      height: 40px;
      border: 1px solid #52c5ff;
    }
    &_top_left {
      top: 7px;
      left: 7px;
      border-radius: 100% 0 0 0;
      border-right: 0;
      border-bottom: 0;
      transform: skew(-15deg, -15deg) translate3d(0, 0, 0);
    }
    &_bottom_right {
      bottom: 7px;
      right: 7px;
      border-radius: 0 0 100% 0;
      border-left: 0;
      border-top: 0;
      transform: skew(-15deg, -15deg) translate3d(0, 0, 0);
    }
  }
  &_logo {
    width: 158px;
    > img {
      width: 100%;
    }
    > span {
      color: #fff;
    }
  }
  &_control {
    position: absolute;
    right: 0;
    top: 0;
    > span {
      width: 30px;
      display: inline-block;
    }
    i {
      color: #a5b6cb;
      &:hover {
        color: #a5b6cb;
      }
    }
  }
  &_container {
    width: 372px;
    height: 420px;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    border-radius: 76px 8px 76px 8px;
    &_submit {
      width: 100%;
      height: 40px;
      padding: 5px 0;
      background: #52c5ff;
      font-weight: 400;
      color: white;
      border: none;
      border-radius: 4px;
      outline: none;
      letter-spacing: 10px;
      border-radius: 24px 4px 24px 4px;
      &:hover {
        box-shadow: 0 4px 10px 10px rgba(164, 180, 204, 0.1);
      }
    }
    &_leftbox {
      width: 260px;
      margin: auto;
      &_tip {
        visibility: hidden;
        height: 15px;
        &.active {
          color: $Input_error_color;
          visibility: visible;
        }
      }
      &_userinput {
        color: #fff;
        .ant-checkbox-inner {
          border: 1px solid #52c5ff;
          background: transparent;
        }
        .ant-checkbox-inner:after {
          border-color: #52c5ff;
        }
      }
      &_userinput_inner {
        position: relative;
        border-bottom: 1px solid rgba(255, 255, 255, 0.3);
        width: 100%;
        &_input {
          color: #fff;
          width: 216px;
          padding-right: 40px;
          background: transparent;
          border: none;
          position: relative;
          &:focus {
            outline: none;
            border-left: 0;
            // box-shadow: 0 4px 10px 5px rgba(164, 180, 204, 0.1);
          }
        }
        &_iconfont {
          width: 36px;
          text-align: center;
          color: #fff;
          opacity: 0.3;
          flex: 0 0 30px;
          .iconfont {
            margin: auto;
            width: 100%;
          }
        }
        &_icon {
          padding: 10px;
          position: absolute;
          top: 0;
          right: 0;
          border-left: 1px solid #d6d8dd;
          color: #a5b6cb;
        }
        &_eye {
          color: #fff;
          opacity: 0.3;
        }
        &.focus {
          border-color: #52c5ff;
          .login_container_leftbox_userinput_inner_iconfont {
            color: #52c5ff;
            opacity: 1;
          }
        }
        &.error {
          border-color: $Input_error_color;
          // border: 1px solid rgba(69, 152, 230, 1);
          .login_container_leftbox_userinput_inner_iconfont {
            color: $Input_error_color;
            opacity: 1;
          }
        }
      }
      &_userinput_title {
        color: $Userinput_title;
      }
    }
    &_rightbox {
      width: 220px;
    
      animation: login 1s steps(8, end) infinite alternate;
    }
  }
  &_waterwave {
    position: absolute;
    bottom: 0;
    height: 80px;
    width: 600px;
  }
}
@-webkit-keyframes login {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: -1760px 0;
  }
}
@keyframes login {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: -1760px 0;
  }
}
