/*
 * @Author: huangying
 * @Date: 2018-09-26 16:00:30
 * @Last Modified by: huxianyong
 * @Last Modified time: 2019-11-26 15:18:28
 */
@import 'style/color.scss';
.quNoData {
  height: 100%;
  .noData_text {
    margin-top: 40px;
    color: $secondary-button;
  }
  .noData_img {
    margin-top: 20px;
    width: 10%;
    max-width: 200px;
  }
}
