@import 'style/color.scss';
@each $key, $value in $theme-color {
  .ngLayout_sidebar-#{$key} {
    position: relative;
    z-index: 10001;
    width: 60px;
    // background-color: map-get($value, side-bar-color);
    background: linear-gradient(
      0deg,
      rgba(26, 42, 61, 1),
      rgba(80, 102, 133, 1)
    );
    .ngLayout_logo {
      display: block;
      height: 60px;
      width: 60px;
    }
    user-select: none;
    position: fixed;
    height: 100%;
    .sidebar_item {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      position: relative;
      font-size: 12px;
      cursor: pointer;
      padding-top: 9px;
      padding-bottom: 9px;
      margin: 5px 0;
      color: rgba($color: #fff, $alpha: 0.7);
      &:hover,
      &-hover,
      &-active {
        background: linear-gradient(
          90deg,
          rgba(82, 197, 255, 0.16),
          rgba(82, 197, 255, 0.04)
        );
        color: #fff;
        position: relative;
      }
      &-active:before {
        content: '';
        position: absolute;
        height: 100%;
        width: 4px;
        background: #52c5f2;
        top: 0;
        left: 0;
      }
    }
    .sidebar_item_logo {
      position: relative;
      display: inline-block;
      width: 100%;
      cursor: pointer;
      text-align: center;
      color: rgba($color: #fff, $alpha: 0.3);
      font-size: 12px;
      .iconfont {
        border-bottom: 1px solid;
        border-bottom-color: rgba(255, 255, 255, 0.2);
        box-sizing: content-box;
      }
      &-right {
        display: inline-block;
        position: absolute;
        transform: rotate(-90deg);
        top: 35px;
        right: 10px;
        color: rgba($color: #fff, $alpha: 0.6);
      }
    }
    .ant-popover {
      z-index: 100012 !important;
      left: 50px !important;
    }
    .ant-popover-inner-content {
      width: 107px !important;
      // height: 60px !important;
      padding: 0 !important;
    }
  }

  .userInfo {
    position: absolute;
    width: 60px;
    height: 60px;
    bottom: 50px;
    &_popover {
      color: #32375a;
      text-align: left;
      font-size: 14px;
      cursor: pointer;
      margin: 0 12px;
      height: 30px;
      line-height: 30px;
      &:first-of-type {
        border-bottom: 1px solid #eeeeee;
      }
    }
    &_box {
      cursor: pointer;
      &_avatar {
        display: block;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        margin: 0 auto;
      }
      .username {
        padding-top: 4px;
        color: #fff;
        display: inline-block;
        width: 60px;
        font-size: 12px;
        text-align: center;
      }
    }
  }
  .myCode {
    position: relative;
    .qrcodeContent {
      position: absolute;
      width: 156px;
      height: 156px;
      border-radius: 20px;
      display: none;
      background-color: #fff;
      left: 112px;
      top: -70px;
      canvas {
        position: absolute;
        margin: auto;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
      }
    }
    &:hover {
      .qrcodeContent {
        display: block;
      }
    }
  }
}
